<div class="col-md-12">
	<div class="logos">
		<div class="logos_item"> <img src="/assets/Capital City Movers.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/Lift NYC Movers.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/Moving Pros Inc.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/Straight Forward Moving.PNG" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/White Glove Moving _ Storage.png" alt=""/> </div>
	  <div class="logos_item last-logo"> <img src="/assets/dennis.png" alt=""/> </div>
	</div>
</div>