<div class="col-md-12">
	<div class="logos">
		<div class="logos_item"> <img src="/assets/abc.png" data-src="/assets/abc.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/national-geographic1.png" data-src="/assets/national-geographic.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/mens-health.png" data-src="/assets/mens-health.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/popsugar.png" data-src="/assets/popsugar.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/prisma.png" data-src="/assets/prisma.png" alt=""/> </div>
	  <div class="logos_item"> <img src="/assets/dennis.png" data-src="/assets/dennis.png" alt=""/> </div>
	</div>
</div>