<footer class="footer">
  <div class="skyline"><img src="assets/footer.png" width="100%" alt="Moober Solutions"></div>
  <ul class="footer_devise_content">
    <li>
      <ul>
        <li class="footer__item footer__item--address">
          <p><a href="https://www.google.com/maps/place/404+5th+Ave+%237055,+New+York,+NY+10018,+USA/@40.7503617,-73.9858434,17z/data=!3m1!4b1!4m5!3m4!1s0x89c259aa02e83efb:0x8952d4490e23ed2a!8m2!3d40.7503577!4d-73.9836494?hl=en" target="_blank" data-mrf-ignoreLink="true">404 5th Avenue #7055<br>New York, NY 10018</a></p>
          <p>us: <a target="_blank" href="tel:+16467334446" data-mrf-ignoreLink="true">+1 646 733 4446</a></p>
          <p>M-F 9AM-6PM EST</p>
        </li>
      </ul>
    </li>
    <li class="footer__followUs">
      <ul class="emails">
        <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:support@moober.com">support@moober.com</a></li>
        <li class="footer__item"><a target="_blank" data-mrf-ignoreLink="true" href="mailto:"></a></li>
      </ul>
      <ul class="data">
        <li class="footer__item"><a href="https://www.instagram.com/moober/" target="_blank"><img src="assets/social/instagram.svg" alt="instagram" data-mrf-ignoreLink="true" target="_blank"></a></li>
        <li class="footer__item"><a href="https://plus.google.com/100353954115280668104" target="_blank"><img src="assets/social/google.svg" alt="google" data-mrf-ignoreLink="true" target="_blank"></a></li>
        <li class="footer__item"><a href="https://www.pinterest.com/moobernyc/?eq=goober&etslf=6100" target="_blank"><img src="assets/social/pinterest.svg" alt="pinterest" data-mrf-ignoreLink="true" target="_blank"></a></li>
        <li class="footer__item"><a href="https://www.facebook.com/pg/Moober-406494646416367/" target="_blank"><img src="assets/social/facebook.svg" alt="facebook" data-mrf-ignoreLink="true"></a></li>
        <li class="footer__item twitter-icon"><a href="https://twitter.com/MooberNYC" target="_blank"><img src="assets/social/twitter.svg" alt="twitter" target="_blank" data-mrf-ignoreLink="true"></a></li>
      </ul>
    </li>
  </ul>
</footer>