<nav id="moveNav" class="navbar navbar-default navbar-fixed-top d_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"> <a href="/"> <img src="assets/logo.png" alt="Moober"/> </a> </div>
  <div class="mrf-menuContainer">
    <ul>
      <li> <button class="dsktop-toggle c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button> </li>
      <li class=" mrf-contactAction"> <a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>

<nav id="mblNav" class="navbar navbar-fixed-top mbl_nav hide">
  <div class="mrf-gradient"></div>
  <div class="mbl-mrf-logo"><object class="header__logo" data="/assets/logo-new.svg" type="image/svg+xml"></object></div>
  <div class="mbl-menuContainer">
    <ul>
      <li><button class="mbl-toggle c-hamburger c-hamburger--htx"><span>toggle menu</span></button></li>
    </ul>
  </div>
</nav>
<%= render "shared/mobile_nav" %>
