<div class="modal fade" id="moober_popup" role="dialog">
  <div class="modal-dialog modal-sm moober_popup_sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close cancel-btn"><span class="badge">x</span></button>
        <div class="subscribe-content">
        </div>
        <div class="new-subscribe-content">
          <%= render 'subscribe_form'%>
        </div>
      </div>
    </div>
  </div>
</div>