<div class="modal fade" id="moober_popup" role="dialog">
  <div class="modal-dialog modal-sm moober_popup_sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close cancel-btn"><span class="badge">x</span></button>
        <div class="subscribe-content">
          <div align="center">
            <img class="popup_image" src="/assets/applike.png">
            <p class="popup-content">Moober is launching in Summer 2017.<br>  Enter your email address below for updates:</p>
            <%= form_for :subscribe , url: create_subscribe_path, :remote => true, :authenticity_token => true do |f| %>
            <div class="form">
              <%= f.email_field :email, placeholder: "Email address", class: 'mt-15', required: true %>
            </div>
            <div align="center">
              <%= f.submit "SUBSCRIBE", class: 'popup-btn' %>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>