<section class="slide featuredon">
  <div class="slide__content">
    <div class="slide__title"> Featured on </div>
  </div>
  <div class="slide__media">
    <div class="slide__media--logo">
      <img src="assets/wired.svg" data-src="assets/wired.svg">
    </div>
    <div class="slide__media--logo techcrunch">
      <img src="assets/techcrunch.svg" data-src="assets/techcrunch.svg">
    </div>
    <div class="slide__media--logo">
      <img src="assets/yahoo.svg" data-src="assets/yahoo.svg">
    </div>
    <div class="slide__media--logo">
      <img src="assets/fortune.svg" data-src="assets/fortune.svg">
    </div>
  </div>
</section>