<section class="slide bg_video">
  <div class="slide--videoCover">
    <!-- <div class="slide__videoWrapper"> -->
    <div class="slide_videoCover"></div>
    <div id="video-bg" class="slide__videoWrapper">
      <!-- <video autoplay loop muted id="welcomeVideo"> -->
      <video loop autoplay id="bg-video">
        <source src="https://s3-us-west-2.amazonaws.com/moober/moober.mp4" type="video/mp4" type="video/mp4" style="wiidth:100%">
      </video>  
      <img src="/assets/videoposter-mobile.jpg" class="home_image">
    </div>
    <!-- </div> -->
    <div class="slide__content home">
      <h1 class="slide__content__title"> MOVING.</br> MADE.</br> SIMPLE. </h1>
      <div class="play videoPlayer" data-video="#welcomeVideo" data-toggle="modal" data-target="#myModal"> <img src="assets/play-mobile.svg" alt="Play Moober Video"> </div>
      <div class="home_btn_align">
        <button class="contactUs btn-left open_subscripe_popup">Download App</button>
        <button class="contactUs btn-right start_a_move_btn">Start a Move</button>
      </div>
    </div>
  </div>
</section>

