<section class="slide loop_image_section" id="how_it_work">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 loop_image_right">
          <div class="loop_image_content">
            <h1 class="slide__title">How it Works</h1>
            <ol class="list_type">
              <li>
                <div class="slide__text">Enter your pick up address, destination address and a few details about your move.</div>
              </li>
              <li>
                <div class="slide__text">Submit your request to local, verified moving companies who will quickly reply back with competitive quotes.</div>
              </li>
              <li>
                <div class="slide__text">Choose the best offer and confirm your move.</div>
              </li>
              <div class="new-text">Moober provides support and assurance throughout your moving experience.</div>
            </ol>
          </div>
        </div>
        <div class="col-md-6 loop_image_left" id="loop_image_left">
          <div class="slide__media loop_image">
            <img src="assets/360-solution-loop-alpha.gif">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>