<section class="slide notified">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 notified_right">
          <div class="slide__title"> Be notified throughout the entire process of your Moober moving experience. </div>
        </div>
        <div class="col-md-6 notified_left" id="notified_left">
          <div class="notified_slide__media" style="margin-top:100px;">
            <img src="assets/01-screen11.png" class="mrf-animable notified_slide__image slide__image--left" data-slide="5" data-animationIn="translate({x:35, y: 0, z:0}, '%', .8)" id="notified_left_1" style="position:absolute" />
            <img src="assets/02-screen1-shadow.png" class="mrf-animable notified_slide__image slide__image--left" data-slide="5" data-animationIn="translate({x:35, y: 0, z:0}, '%', .8)"  style="position:absolute"/>
            <img src="assets/03-screen21.png" class="mrf-animable notified_slide__image slide__image--right" data-slide="5" data-animationIn="translate({x:-35, y: 0, z:0}, '%', .8)" id="notified_left_2" style="position:absolute"/>
            <img src="assets/04-screen2-shadow.png" class="mrf-animable notified_slide__image slide__image--right" data-slide="5" data-animationIn="translate({x:-35, y: 0, z:0}, '%', .8)"  style="position:absolute"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>