<section class="slide realtime_section">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 realtime_section_right">
          <div class="slide__title"> Get real-time notifications on moving day to ensure a smooth move. </div>
        </div>
        <div class="col-md-6 realtime_section_left" id="realtime_section_left">
          <img src="assets/applike.png">
        </div>
      </div>
    </div>
  </div>
</section>