<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 saving_section_right">
          <div class="slide__title"> Save cash by comparing quotes. Users who use Moober save an average of 25-35% on their entire move. </div>
        </div>
        <div class="col-md-6 saving_section_left">
          <div class="fasterBrand"> <img src="assets/tentimesfaster.svg" alt="10x Faster"> </div>
          <div class="chartContainer">
            <div class="chartLegend"> $700 for a 1br apartment move </div>
            <div class="chart mrf">
              <div class="greyBar">
                <div class="colorBar mrf-animable" id="top-bar" data-slide="4" data-animationIn="translate({x:0, y: 0, z:0}, '%')" data-animationOut="translate({x:-100, y: 0, z:0}, '%')"></div>
              </div>
            </div>
            <div class="source"> Moober </div>
            <div class="chartLegend"> $1,100 for a 1br apartment move </div>
            <div class="chart others">
              <div class="greyBar">
                <div class="colorBar mrf-animable" id="bottom-bar" data-slide="4" data-animationIn="translate({x:0, y: 0, z:0}, '%')" data-animationOut="translate({x:-100, y: 0, z:0}, '%')"></div>
              </div>
            </div>
            <div class="source"> Average NYC Moving Company </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>