<section class="slide">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6 share_facebook_right">
        <div class="slide__title">Share Moober on Facebook and receive a 10% promo code for your next move!</div>
        <div class="apply_section">
          <!-- <p class="fb-promocode">Promo Code : </p> -->
          <button id="shareBtn" class="connect_facebook" data-share="true">Share on Facebook</button>
        </div>
      </div>
      <div class="col-md-6 share_facebook_left">
        <img src="/assets/targeting.png">
      </div>
    </div>
  </div>
</section>