<div class="mbl-webLateralMenuOverlay"></div>
<div class="mbl-webLateralMenu">
  <ul>
    <li class="user_moves <%= active_class('/moves') %>"><a href="/moves">Moves</a></li>
    <li><span class="user-login-logut"></span></li>
    <div class="side_image_section">
      <a href="apply">
        <img src="/assets/menu-image.png" align="center" class="side_image">
      </a>
    </div>
  </ul>
</div>