<div class="mbl-webLateralMenuOverlay"></div>
<div class="mbl-webLateralMenu">
  <ul>
    <li class="user_moves <%= active_class('/moves') %>"><span class="moves-count"><mark>0</mark></span><a href="/moves">Moves</a></li>
    <li><span class="user-login-logut"></span></li>
  </ul>
</div>