<section class="slide welcome_section">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 welcome_section_left">
          <div class="slide__media">
            
          </div>
        </div>
        <div class="col-md-6 welcome_section_right">
          <h1 class="slide__title"> Welcome to Moober</h1>
          <p class="slide__text">Moober simplifies moving by encompassing every aspect of your move within a friendly mobile experience. Before you call local movers, download Moober and let it do the work for you. </p>
        </div>
      </div>
    </div>
  </div>
</section>