<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"> <a href="/"> <img src="assets/logo.png" alt="Moober"/> </a> </div>
  <div class="mrf-menuContainer">
    <ul>
      <li> <button class="c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button> </li>
      <li class=" mrf-contactAction"> <a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>

<section class="slide">
  <div class="contact">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-cover" style="width:100%;background-image:url(/assets/moober_background_image.jpg);"></div>
        <div class="contact-title">APPLY TO EARN ON MOOBER</div>
      </div>
      <div class="col-md-12">
        <div class="contact-description">
          Ready to increase opportunities and volume for your moving business? Tell us a bit about your company and we'll be in touch within 24 hours.
        </div>
      </div>
  </div>
</section>
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="contact-form text-center">
          <h1>Get Started</h1>
          <form class="form-group">
            <input type="text" name="" placeholder="Full Name">
            <input type="text" name="" placeholder="Company Name">
            <input type="text" name="" placeholder="Site Url">
            <input type="email" name="" placeholder="Email">
            <input type="text" name="" placeholder="City">
            <select>
              <option>Select</option>
            </select>
            <input type="text" name="" placeholder="Phone Number">
            <input type="submit" name="Submit" >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="logos">
          <div class="logos_item"> <img src="/assets/abc.png" data-src="/assets/abc.png" alt=""/> </div>
          <div class="logos_item"> <img src="/assets/national-geographic1.png" data-src="/assets/national-geographic.png" alt=""/> </div>
          <div class="logos_item"> <img src="/assets/mens-health.png" data-src="/assets/mens-health.png" alt=""/> </div>
          <div class="logos_item"> <img src="/assets/popsugar.png" data-src="/assets/popsugar.png" alt=""/> </div>
          <div class="logos_item"> <img src="/assets/prisma.png" data-src="/assets/prisma.png" alt=""/> </div>
          <div class="logos_item"> <img src="/assets/dennis.png" data-src="/assets/dennis.png" alt=""/> </div>
        </div>
      </div>
    </div>
  </div>
</section>