<!-- Navigation -->
<%= render 'nav'%>

<!-- Header section home video -->
<section class="slide">
  <div class="slide--videoCover">
    <div class="slide__videoWrapper">
      <div class="slide_videoCover"></div>
      <video autoplay loop muted id="welcomeVideo">
        <% browser = Browser.new(request.env['HTTP_USER_AGENT'], accept_language: "en-us") %>
        <% if browser.safari? %>
        <source src="http://50.116.5.156/moober.mp4" type="video/mp4" width="100%">
          <% else %>
          <source src="/assets/videos/moober.webm" type="video/webm" width="100%">
            <% end %>
      </video>
    </div>
    <div class="slide__content">
      <h1 class="slide__content__title"> MOVING.</br> MADE.</br> SIMPLE. </h1>
      <div class="play videoPlayer" data-video="#welcomeVideo"> <img src="assets/play-mobile.svg" alt="Play Moober Video"> </div>
      <div class="home_btn_align">
        <button class="contactUs btn-left" data-toggle="modal" data-target="#moober_popup">Download App</button>
        <button class="contactUs btn-right">Start a Move</button>
      </div>
    </div>
  </div>
</section>

<!-- welcome to moovber section -->
<section class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="slide__media">
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="slide__title"> Welcome to Moober</h1>
          <p class="slide__text">Moober simplifies moving by encompassing every aspect of your move within a friendly mobile experience. Before you call local movers, download Moober and let it do the work for you. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it Works  -->
<div class="slide">
  <div class="mt-10">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="slide__media">
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="slide__title">How it Works</h1>
          <ol class="list_type">
            <li>
              <div class="slide__text">Enter your pick up address, destination address and a few details about your move.</div>
            </li>
            <li>
              <div class="slide__text">Submit your request to local, verified moving companies who will quickly reply back with competitive quotes.</div>
            </li>
            <li>
              <div class="slide__text">Choose the best offer and confirm your move.</div>
            </li>
            <div class="new-text">Moober provides support and assurance throughout your moving experience.</div>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- sidemenu -->
<%= render 'side_nav'%>