<%= render 'shared/static_header' %>

<section class="list_of_moves_page">
  <div class="col-md-12 up-col-md-12">
    <div class="col-md-12 up-col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="upcoming_moves">Upcoming Moves</div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-12">
        <div class="upcoming_values"></div>
      </div>
    </div>
    <div class="col-md-12 up-col-md-12">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="past_moves">Past Moves</div>
      </div>
      <div class="col-md-3"></div>
      <div class="col-md-12">
        <div class="past_values"></div>
      </div>
    </div>
  </div>
</section>



<%= render 'footer' %>
<%= render 'home/top_mbl_side_nav' %>

<script type="text/javascript">
  $(document).ready(function(){
    var current_user = localStorage.getItem('user_id');
    var API_URL = "http://45.56.72.52/api/userapi/";
    var user_params = '{"user_id": '+ current_user +'}'
    console.log(user_params)
    if (current_user != "" && current_user != null && current_user != undefined) {
      $.ajax({
        url: API_URL+'getMovingRequestList',
        type: 'POST',
        data: user_params,
      })
      .done(function(data) {
        console.log(data);
        // alert(data.data)
        // if (data.data.upcoming)
        var count = data.data.upcoming.length
        localStorage.setItem('moves_count', count);
        $('.moves-count mark').text(count);
        $('.side-menu-moves-count mark').text(count);
        $.each(data.data.upcoming ,function(key, res){
          console.log(res)
          console.log("res")
          var upcoming = '<div class="col-md-12 upcome-border"><div class="col-md-8 um-values"><div class="moving-requests" data-request-id="'+res.moving_request_id+'" data-from-add="'+res.from_address+'">'+redNotification(res)+'</div><p>Awaiting Proposals</p><p>'+'<span> Room_type: </span> ' + res.room_type_name+'</p><p>'+ ' <span> Moving Date: </span> ' + res.move_date_time+'</p><p>'+ ' <span> Pickup Address : </span> ' + res.from_address+'</p><p>'+ '<span> Destination Address : </span> ' + res.to_address+''+yellowNotification(res)+'</p></div><div class="col-md-4"><div class="coming-thum-img upcoming-images_'+res.moving_request_id+'"></div></div></div>'
          $('.upcoming_values').append(upcoming)
          if (res.moving_request_images.length > 0){ 
            $.each(res.moving_request_images, function(i, img){
              var images = '<img src="'+img.image_thumb+'" class="pro-image">'
              $('.upcoming-images_'+res.moving_request_id+'').append(images)
            })
          }else{
            var images = '<div class="col-md-6">No Images</div>'
            $('.upcoming-images_'+res.moving_request_id+'').append(images)
          }
        });

        $.each(data.data.past ,function(key, res){
          var upcoming = '<div class="col-md-12 upcome-border"><div class="col-md-8 um-values"><div class="moving-requests" data-request-id="'+res.moving_request_id+'" data-from-add="'+res.from_address+'">'+redNotification(res)+'</div><p>Awaiting Proposalssss</p><p>'+ '<span> Room_type: </span> ' + res.room_type_name+'</p><p>'+ ' <span> Moving Date: </span> ' +  res.move_date_time+'</p><p>'+ ' <span> Pickup Address : </span> ' + res.from_address+'</p><p>'+ '<span> Destination Address : </span> ' +  res.to_address+''+yellowNotification(res)+'</p></div><div class="col-md-4"><div class="coming-thum-img past-images_'+res.moving_request_id+'"></div></div></div>'
          $('.past_values').append(upcoming)
          if (res.moving_request_images.length > 0){ 
            $.each(res.moving_request_images, function(i, img){
              var images = '<img src="'+img.image_thumb+'"  class="pro-image">'
              $('.past-images_'+res.moving_request_id+'').append(images)
            })
          }else{
            var images = '<div class="col-md-6 no-img-sty">No Images</div>'
            $('.past-images_'+res.moving_request_id+'').append(images)
          }
        });

      })
      .fail(function(data) {
         $('.past_values').html('<div class="um-values"><p class="no-move-data">No Detail Found</p></div>');
        $('.upcoming_values').html('<div class="um-values"><p class="no-move-data">No Detail Found</p></div>');
      });
    }
  });
  function redNotification(res){
    if (res.notification_count > 0){
      return '<span class="upcoming-pro-count"><mark>'+res.notification_count+'</mark></span><span class="upcoming-title">'+res.moving_code+'</span>'
    }
    else {
     return '<span class="upcoming-title">'+res.moving_code+'</span>' 
    }
  }
  function yellowNotification(res){
    if (res.notification_count > 0){
      return '<span class="up-pro-count"><mark>'+res.notification_count+'</mark></span>'
    }
  }
</script>



