<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGt1cDImemwSjXZt5hYsCWnDPiC7cQkSE&libraries=places&callback=initProposalMap"></script>
<%= render 'shared/static_header' %>
<section class="moving-results-container">
  <div class="map-prop">
    <div id='proposal_map'></div>
  </div>
  <div class="moving_proposals_results">
    <div class="col-md-12">
      <div class='col-md-3'></div>
      <div class='col-md-6'>
        <div class="proposal_results">
          
        </div>
      </div>
      <div class='col-md-3'></div>
    </div>
  </div>
</section>
<%= render 'footer' %>
<%= render 'home/top_mbl_side_nav' %>

<script type="text/javascript">
  function defaultMarker(lat, lang){
    var map = new google.maps.Map(document.getElementById('proposal_map'), {
      center: {lat: parseFloat(lat), lng: parseFloat(lang)},
      zoom: 14,
      scrollwheel: false,
      zoomControl: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.SMALL,
        position: google.maps.ControlPosition.RIGHT_CENTER
      },
      disableDefaultUI: true
    });
    var image = '/assets/map-icon2.png';
    var beachMarker = new google.maps.Marker({
      position: map.getCenter(),
      title: "Moved from here :)",
      map: map,
      icon: image
    });
    var infowindow = new google.maps.InfoWindow({
      content: "<div id='marker-content'><h6>Moved from here :)</h6></div>"
    });
    google.maps.event.addListener(beachMarker, 'click', function() {
      infowindow.open(map,beachMarker);
    });
    infowindow.open(map,beachMarker);
  }
  $(document).ready(function(){
    var request_id = localStorage.getItem('proposal_request');
    
    var lat = localStorage.getItem('proposal_lat');
    var lang = localStorage.getItem('proposal_lang');
    movingProposals(request_id, lat, lang);
    // function initialize() {
    //   var from_add = localStorage.getItem('request_from_add');
    //   address = from_add
    //   // Initialize the Geocoder
    //   geocoder = new google.maps.Geocoder();
    //   console.log(geocoder)
    //   if (geocoder) {
    //     geocoder.geocode({
    //         'address': address
    //     }, function (results, status) {
    //         if (status == google.maps.GeocoderStatus.OK) {
    //             var from_lat = results[0].geometry.location.lat();
    //             localStorage.setItem('proposal_lat', from_lat);
    //             var from_lon = results[0].geometry.location.lng();
    //             localStorage.setItem('proposal_lang', from_lon);
    //         }
    //     });
    //   }
    // }
  });
</script>