<%= render 'shared/static_header' %>
<section class="slide accept-slide">
  <div class="row moving_proposals_accept">
    <div class='col-md-4'></div>
    <div class='col-md-4'>
      <div class="proposal_accept">
        <p>
          <span>
            Moving Company:
          </span>
          <span class="acpt-label acpt-company"></span>
        </p>
        <p>
          <span>Moving From:</span>
          <span class="acpt-label acpt-company-from"></span>
        </p>
        <p>
          <span>Moving To</span>
          <span class="acpt-label acpt-company-to"></span>
        </p>
        <p>
          <span>Moving Date:</span>
          <span class="acpt-label acpt-company-date"></span>
        </p>
      </div>
    </div>
    <div class='col-md-4'></div>
  </div>
  <div class="row apply-promocode">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="col-md-8 pull-left acpt-form">
        <input type="texgt" name="promo-code" class="promo-code form-control" placeholder="Promo Code">
      </div>
      <div class="col-md-4 pull-right acpt-apply">
        <div class="text-center promo-apply-btn">Apply</div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row estimate-cost">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center estimated_cost_text">Estimated Cost: $<span class="acpt-price">300.00</span></div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row card-details">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="col-md-8 pull-left acpt-form">
        No Payment method available.
      </div>
      <div class="col-md-4 acpt-apply pull-right">
        <a href="javascript:;" class="add_card_details">Add card</a>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row approve-details">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="text-center approve-btn">Approve Payment</div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</section>

<div id="promo-code-popup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div class="popup_image">
          <img src="/assets/popup_logo.png">
        </div>
        <div class="popup_content">
          <h4 class="modal-title pc-head"></h4>
          <div class="promocode-body">
          </div>
          <button class="new-popup-btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="card_details" class="modal fade" role="dialog">
  <div class="modal-dialog mt-50 page_valid_align new_page_valid_align">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" align="center">
        <div align="center">
          <img class="new_popup_image" src="/assets/logo2.png">
        </div>
        <div class="popup_content">
          <div class="card-section">
            <div class='row'>
                <div class='col-md-12'>
                  <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                  <form accept-charset="UTF-8" action="/" class="require-validation" data-cc-on-file="false" data-stripe-publishable-key="pk_bQQaTxnaZlzv4FnnuZ28LFHccVSaj" id="payment-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                    <!-- <div class='form-row'>
                      <div class='col-xs-12 form-group required'>
                        <label class='control-label'>Name on Card</label>
                        <input class='form-control' size='4' type='text'>
                      </div>
                    </div> -->
                    <div class='form-row'>
                      <div class='col-xs-12 form-group card required'>
                        <label class='control-label'>Card Number</label>
                        <input autocomplete='off' class='form-control card-number' size='20' type='text' onkeypress='return validateQty(event);'>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-xs-4 form-group cvc required'>
                        <label class='control-label'>CVC</label>
                        <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' type='text' onkeypress='return validateQty(event);'>
                      </div>
                      <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'>Expiration</label>
                        <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' onkeypress='return validateQty(event);'>
                      </div>
                      <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'> </label>
                        <input class='form-control card-expiry-year' placeholder='YYYY' size='4' type='text' onkeypress='return validateQty(event);'>
                      </div>
                    </div>
                    <!-- <div class='form-row'>
                      <div class='col-md-12'>
                        <div class='form-control total btn btn-info'>
                          Total:
                          <span class='amount'>$300</span>
                        </div>
                      </div>
                    </div>
                    <div class='form-row'>
                      <div class='col-md-12 form-group'>
                        <button class='form-control btn btn-primary submit-button' type='submit'>Pay »</button>
                      </div>
                    </div> -->
                    <div class='form-row'>
                      <div class='col-md-12 error form-group hide'>
                        <div class='alert-danger alert'>
                          Please correct the errors and try again.
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
          <button class="new-popup-btn card_detail_save" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    acceptCompany();
  });
</script>