<nav id="moveNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="mrf-gradient"></div>
  <div class="mrf-logo"> <a href="/"> <img src="assets/logo.png" alt="Moober"> </a> </div>
  <div class="mrf-menuContainer">
    <ul>
      <li> <button class="c-hamburger c-hamburger--htx"> <span>toggle menu</span> </button> </li>
      <li class=" mrf-contactAction"> <a href="/contact"><b>Contact Us</b></a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-md-12 display_map" id="map"></div>
  <div class="search-map">
    <div class="row pd-15">
      <div class="col-md-4 search-map-div new-form">
        <p>Moving from</p>
        <input type="text" name="" id="start" placeholder="Pickup address" onFocus="geolocate()" >
      </div>
      <div class="col-md-4 search-map-div new-form">
        <p>Moving to</p>
        <input type="" name="" id="end" placeholder="Destination address" onFocus="geolocate()">
      </div>
      <div class="col-md-4 search-map-div" align="center">
        <button class="hidden-btn" id="map_search_btn"></button>
        <a href='#room-type-section' id="size_of_move" data-section_id="#map" class="hidden-btn smooth_scroll">CONTINUE</a>
        <a class="image-div-submit map-section-btn" id="start-end">CONTINUE</a>
      </div>
    </div>
  </div>
  <div class="row" id="room-type-section">
    <div class="mt-40">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-20" align="center">
            <div class="start-heading">
              <h4><span class="span1"><img class="icon-image" src="/assets/icon1.jpg"></span><span class="span2"> What's the size of your move? </span><span class="span3"><img class="icon-image back_btn" src="/assets/back btn.jpg" data-back_section="#map" data-current_section="#room-type-section"></span></h4>
            </div>
          </div>
          <div class="scroll_div">
            <div class="row room_image">
              <div class="col-md-4">
                <div class="col-md-12 mt-25">
                  <img class="move-type" src="/assets/add-image.jpg">
                  <div class="check-div">
                    <div class="ins-image-align">
                      <input id="single-item" type="checkbox" class="new-app-ins item1" name="movesize" value="single item" data-value="1">
                      <label for="single-item">A single item</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 move-type mt-25">
                  <div class="check-div">
                    <div class="ins-image-align">
                      <input id="studio" type="checkbox" class="new-app-ins item2" name="movesize" value="studio" data-value="2">
                      <label for="studio">Studio</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="col-md-12 move-type mt-25">
                  <div class="check-div">
                    <div class="ins-image-align">
                      <input id="normal" type="checkbox" class="new-app-ins item3" name="movesize" value="normal" data-value="3">
                      <label for="normal"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom_div">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div align="center">
                  <a href='#photos-section' id="room_type" data-section_id="#room-type-section" class="hidden-btn smooth_scroll">CONTINUE</a>
                  <a class="new-next-btn room_type_check" id="move-size">CONTINUE</a>
                </div>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>