<div align="center">
	<img class="new_popup_image" src="/assets/logo2.png"><br>
	<p class="popup-content content-color">Thank you! Subscribed Successfully.</p>
	<button type="button" class="popup-btn mt-30 cancel-btn">Ok</button>
</div>
<script type="text/javascript">
	$('.new-cancel-btn').click(function() {
		$('#moober_popup').modal('toggle');
		// $(".subscribe-content").html("")
	});
</script>