<div align="center">
	<p class="popup-content content-color">Thank you! Subscribed Successfully.</p>
	<img class="new_popup_image" src="/assets/logo2.png"><br>
	<button type="button" class="popup-btn mt-30 cancel-btn">Ok</button>
</div>
<script type="text/javascript">
	$('.cancel-btn').click(function() {
		location.reload();
	});
</script>