<link rel="stylesheet" href="/assets/email.css">
<div id="moo-header">
  <div class="mrf-gradient"></div>
  <div class="moo-logo"> 
    <a href="/">
      <img src="http://stage.moober.com/assets/logo.png" alt="Moober"/>
    </a>
  </div> 
</div>
<div class="moo-body">
  <div class="moo-content">Thanks for sharing Moober on Facebook. Here is a promo code to receive 10% off your next move on Moober!</div>
  <div class="promocode-font"><%= @promo_code %></div>
</div>

 <footer class="footer">
  <div class="skyline mail_footer"><img src="http://stage.moober.com/assets/footer.png" width="100%" alt="Moober Solutions">
  </div>
</footer>