#moo-header {
  display: block;
  height: 57px;
  background-color: #3a69aa;
}
.moo-logo {
  float: none;
  margin: auto; 
  text-align: center;
}
.moo-logo img {
  height: 28px;
  margin-top: 15px;
}
.moo-body {
  width: 100%;
  font-size: 16px;
}
.moo-content {
  margin: 15px;
  font-weight: 400;
}
.moo-move-details {
  width: 100%;
  font-size: 16px;
  margin: 15px;
}
.moo-move-view {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #3a69aa;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.moo-move-view span {
  margin-top: 10px;
}
.skyline.mail_footer{
  margin-bottom: -5px;
}
.skyline.mail_footer img {
  margin-bottom: -5px;
}
.promocode-font {
  width: 100%;
  font-size: 30px;
  text-align: center;
}
